<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>684353541524-bk3aiocj6plq9mroir7nun8g4p9e5jsu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.684353541524-bk3aiocj6plq9mroir7nun8g4p9e5jsu</string>
	<key>API_KEY</key>
	<string>AIzaSyCFVbdOhb2NLOmxeh3-iX8biHBCo9z1OYk</string>
	<key>GCM_SENDER_ID</key>
	<string>684353541524</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firstApp</string>
	<key>PROJECT_ID</key>
	<string>myfirstapp-7dba3</string>
	<key>STORAGE_BUCKET</key>
	<string>myfirstapp-7dba3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:684353541524:ios:4f9052296a20f2a9b1eb81</string>
</dict>
</plist>